/* Genral */

body{
  font-family: 'Ubuntu', sans-serif;
  margin:0;
  padding: 0;
 }
 html{
   margin: 0;
   padding: 0;
 }

  /*Navigation Bar & Side Menu*/
 .nav-color{
  background-color: #FCD232;
 }

 .logo img{
  max-width: 40px;
}

.logo a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.logo a :hover{
  color: #000;
}
.logo h6{
  font-size: 10px;
  margin-top: 5px;
  font-weight: bold;
}

.nav-links{
  width: 70%;
}

.nav-links a{
  text-decoration: none;
  color:#4c4c4c;
}

.nav-links a:hover{
  color:#fff;
}

/* Showcase area */

.showcase {
  background-image: url("/images/synthesio-0301.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 65vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.showcase h1 {
  margin: 0;
  padding-top: 130px;
  font-size: 50px;
  letter-spacing: 2px;
}


/* Cards  */

.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
 
}
.card-height{
 min-height: 400px;
}

.tab-height{
  height: 600px;
}

.card-class{
  width: fit-content;
  padding: 5px;
}

.card-img-top{
  width: 80%;
  margin: 0 auto;
  min-height: 15vw;
  object-fit: cover;
}

.text-height{
  height: 30px;
}

.card-title{
  font-weight: bold;
}

.modal-footer{
  border-top: none;
}

.modal-footer button, #addBtn{
  background-color: #FCD232;
}


 

/* Tabs style */
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
body {
  animation: fake 1s infinite;
}

.worko-tabs {
  margin: 20px;
  width: 80%;
}
.worko-tabs .state {
  position: absolute;
  left: -10000px;
}
#tab-two-label:hover{
  color: #0645AD;
  cursor: pointer;
}
.worko-tabs .flex-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.worko-tabs .flex-tabs .tab {
  flex-grow: 1;
  max-height: 40px;
}
.worko-tabs .flex-tabs .panel {
  background-color: #fff;
  padding: 20px;
  height: auto;
  display: none;
  width: 100%;
  flex-basis: auto;
}
.worko-tabs .tab {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  background-color: #eee;
  cursor: hand;
  cursor: pointer;
  border-left: 10px solid #ccc;
}
.worko-tabs .tab:hover {
  background-color: #fff;
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label {
  background-color: #fff;
  cursor: default;
  border-left-color: #69be28;
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel {
  display: block;
}

@media (max-width: 600px) {
  .flex-tabs {
    flex-direction: column;
  }
  .flex-tabs .tab {
    background: #fff;
    border-bottom: 1px solid #ccc;
  }
  .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }
  .flex-tabs #tab-one-label {
    order: 1;
  }
  .flex-tabs #tab-two-label {
    order: 3;
  }
  .flex-tabs #tab-three-label {
    order: 5;
  }
  .flex-tabs #tab-four-label {
    order: 7;
  }
  .flex-tabs #tab-one-panel {
    order: 2;
  }
  .flex-tabs #tab-two-panel {
    order: 4;
  }
  .flex-tabs #tab-three-panel {
    order: 6;
  }
  .flex-tabs #tab-four-panel {
    order: 8;
  }

  #tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label {
    border-bottom: none;
  }

  #tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel {
    border-bottom: 1px solid #ccc;
  }
}




/*  Footer */
footer{
  margin:0;
  background-color:#F5F5F5;
}


footer span{
  color: #EB3B3B;
}

.footer-logo{
  width: 50px;
}
